body {
  padding:10px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

#login-btn {
	margin-right: 15px;
}

nav {
	color: white;
}

.fa-spotify {
	color: #81b71a;
	height: 100%;
	font-size: 1.5em;
}

#album_art{
	max-width: 75%;
	max-height: 75%;
}

#initial {
	font-size: 1.5em;
	font-weight: bold;
}

#initial>ul {
	font-size: 14px;
	font-weight: normal;
}

ul:nth-child(2){
	background-color: #ff0000;
}

#artistList, #artistInfo {
	margin-top: 1em;
} 

.track:hover{
	text-decoration: underline;
	color:#21598f;
}
